p {
	text-align: center;
}

h1 {
	text-align: right;
}

h2 {
	text-align: center;
}

h3 {
	text-align: right;
}

h4 {
	text-align: center;
}

.text-thin {
	font-weight: 100;
}

.full-width {
	width: 100%;
	height: auto;
}

.center-block {
	display: block;	
}

.img-responsive {
	height: 200px;
}
